<ion-header>

  <ion-navbar>
    <ion-title>Nova vistoria</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="inspect">

    <div *ngSwitchCase="'vehicle'">
      <ion-item no-padding>
        <ion-label stacked>Cliente</ion-label>
        <ion-select [(ngModel)]="inspectData.customer">
          <ion-option value="01">Cliente01</ion-option>
          <ion-option value="02">Cliente 02</ion-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Leilão</ion-label>
            <ion-select [(ngModel)]="inspectData.auction">
              <ion-option value="01">APL01</ion-option>
              <ion-option value="02">APL02</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. lote</ion-label>
            <ion-input [(ngModel)]="inspectData.lotNumber" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Tipo vistoria</ion-label>
            <ion-select [(ngModel)]="inspectData.surveyType">
              <ion-option value="Aprovado">Aprovado</ion-option>
              <ion-option value="Aprovado com restrição">Aprovado com restrição</ion-option>
              <ion-option value="Reprovado">Reprovado</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Categoria veiculo</ion-label>
            <ion-select [(ngModel)]="inspectData.vehiclecategory">
              <ion-option value="selecione">Selecione</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Tipo serviço / tipo veículo</ion-label>
          <ion-select [(ngModel)]="inspectData.vehiclecategory">
            <ion-option value="Automovel">Automovel</ion-option>
            <ion-option value="Caminhão">Caminhão</ion-option>
            <ion-option value="Motocicleta">Motocicleta</ion-option>
            <ion-option value="Ciclomoto">Ciclomoto</ion-option>
            <ion-option value="Motoneta">Motoneta</ion-option>
            <ion-option value="Camioneta">Camioneta</ion-option>
            <ion-option value="Utilitario">Utilitario</ion-option>
            <ion-option value="Micro ônibus">Micro ônibus</ion-option>
            <ion-option value="Triciclo">Triciclo</ion-option>
            <ion-option value="Caminhão trator">Caminhão trator</ion-option>
            <ion-option value="Sucata não idêntificada">Sucata não idêntificada</ion-option>
            <ion-option value="Inexistente">Inexistente</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Condição da placa</ion-label>
            <ion-select [(ngModel)]="inspectData.boardcondition">
              <ion-option value="Lacre da placa violado">Lacre da placa violado</ion-option>
              <ion-option value="Placa - caracteres dentro dos padrões originais">Placa - caracteres dentro dos padrões originais</ion-option>
              <ion-option value="Placa quebrada">Placa quebrada</ion-option>
              <ion-option value="Sem placa">Sem placa</ion-option>
              <ion-option value="Tarjeta da placa divergente">Tarjeta da placa divergente</ion-option>
              <ion-option value="Veículo de primeiro emplacamento">Veículo de primeiro emplacamento</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Placa</ion-label>
            <ion-input [(ngModel)]="inspectData.board" type="text" pattern="/[a-z]{3}-?\d{4}/"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>UF Placa</ion-label>
            <ion-select [(ngModel)]="inspectData.ufboard">
              <ion-option value="SP">SP</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Cidade placa</ion-label>
            <ion-input [(ngModel)]="inspectData.cityboard" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. motor</ion-label>
            <ion-input [(ngModel)]="inspectData.motornumber" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. motor BIN</ion-label>
            <ion-input [(ngModel)]="inspectData.motornumberbin" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Condição do motor</ion-label>
          <ion-select [(ngModel)]="inspectData.motorcondition">
            <ion-option value="colocar as opções">colocar as opções</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. chassi</ion-label>
            <ion-input [(ngModel)]="inspectData.chassinumber" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. chassi BIN</ion-label>
            <ion-input [(ngModel)]="inspectData.chassinumberbin" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Condição do chassi</ion-label>
          <ion-select [(ngModel)]="inspectData.chassicondition">
            <ion-option value="colocar as opções">colocar as opções</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. câmbio</ion-label>
            <ion-input [(ngModel)]="inspectData.exchangenumber" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. câmbio BIN</ion-label>
            <ion-input [(ngModel)]="inspectData.exchangenumberbin" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. Renavam</ion-label>
            <ion-input [(ngModel)]="inspectData.renavamnumber" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row radio-group [(ngModel)]="inspectData.kitgnv">
        <ion-col>
          <ion-item no-padding>
            <ion-label>Kit GNV</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Sim</ion-label>
            <ion-radio value="true"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Não</ion-label>
            <ion-radio value="false"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Marca veículo</ion-label>
          <ion-input [(ngModel)]="inspectData.vehiclebrand" type="text"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Modelo veículo</ion-label>
          <ion-input [(ngModel)]="inspectData.vehiclemodel" type="text"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Ano modelo</ion-label>
            <ion-input [(ngModel)]="inspectData.yearmodel" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Ano fabricação</ion-label>
            <ion-input max-lenght="4" [(ngModel)]="inspectData.yearfabrication" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Cor</ion-label>
          <ion-select [(ngModel)]="inspectData.color">
            <ion-option value="colocar as opções">colocar as opções</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Combústivel</ion-label>
          <ion-select [(ngModel)]="inspectData.fuel">
            <ion-option value="colocar as opções">colocar as opções</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-textarea placeholder="Observações"></ion-textarea>
      </ion-row>
      <ion-row padding-top>
        <button ion-button block large (click)="navigate();">Próximo</button>
      </ion-row>
    </div>

    <div *ngSwitchCase="'caveat'">

      <ion-list>

        <ion-item no-padding>
          <ion-label stacked>Ausência de gravação em todos os vidros</ion-label>
          <ion-checkbox [(ngModel)]="checkbox01"></ion-checkbox>
        </ion-item>

        <ion-item no-padding>
          <ion-label stacked>Ausência parcial de numeração nos vidros</ion-label>
          <ion-checkbox [(ngModel)]="checkbox02"></ion-checkbox>
        </ion-item>

        <ion-item no-padding>
          <ion-label stacked>Veículo blindado</ion-label>
          <ion-checkbox [(ngModel)]="checkbox03"></ion-checkbox>
        </ion-item>

        <ion-item no-padding>
          <ion-label stacked>Vidro com num. do chassi sem vestígio de adulteração</ion-label>
          <ion-checkbox [(ngModel)]="checkbox04"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-row>
        <button ion-button block large color="light" (click)="back();">Voltar</button>
        <button ion-button block large (click)="navigate();">Próximo</button>
      </ion-row>
    </div>

    <div *ngSwitchCase="'pictures'" no-padding>
      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('01')">
            <p padding class="text-no-images" [hidden]="image1">DIANTEIRA DIAGONAL DIREITA</p>
            <ion-row>
              <button [hidden]="image1" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image1"
              [src]="domSanitizer.bypassSecurityTrustUrl(image1)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('02')">
            <p padding class="text-no-images" [hidden]="image2">TRASEIRA DIAGONAL ESQUERDA</p>
            <ion-row>
              <button [hidden]="image2" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image2"
              [src]="domSanitizer.bypassSecurityTrustUrl(image2)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('03')">
            <p padding class="text-no-images" [hidden]="image3">AUTO APREENSÃO</p>
            <ion-row>
              <button [hidden]="image3" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image3"
              [src]="domSanitizer.bypassSecurityTrustUrl(image3)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('04')">
            <p padding class="text-no-images" [hidden]="image4">PAINEL QUILOMETRAGEM</p>
            <ion-row>
              <button [hidden]="image4" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image4"
              [src]="domSanitizer.bypassSecurityTrustUrl(image4)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('05')">
            <p padding class="text-no-images" [hidden]="image5">CLRV</p>
            <ion-row>
              <button [hidden]="image5" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image5"
              [src]="domSanitizer.bypassSecurityTrustUrl(image5)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('06')">
            <p padding class="text-no-images" [hidden]="image6">COMP MOTOR</p>
            <ion-row>
              <button [hidden]="image6" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image6"
              [src]="domSanitizer.bypassSecurityTrustUrl(image6)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('07')">
            <p padding class="text-no-images" [hidden]="image7">CHASSI</p>
            <ion-row>
              <button [hidden]="image7" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image7"
              [src]="domSanitizer.bypassSecurityTrustUrl(image7)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('08')">
            <p padding class="text-no-images" [hidden]="image8">MOTOR</p>
            <ion-row>
              <button [hidden]="image8" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image8"
              [src]="domSanitizer.bypassSecurityTrustUrl(image8)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('09')">
            <p padding class="text-no-images" [hidden]="image9">PLACA</p>
            <ion-row>
              <button [hidden]="image9" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image9"
              [src]="domSanitizer.bypassSecurityTrustUrl(image9)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('10')">
            <p padding class="text-no-images" [hidden]="image10">APARELHO DE SOM</p>
            <ion-row>
              <button [hidden]="image10" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image10"
              [src]="domSanitizer.bypassSecurityTrustUrl(image10)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('11')">
            <p padding class="text-no-images" [hidden]="image11">PORTA MALAS</p>
            <ion-row>
              <button [hidden]="image11" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image11"
              [src]="domSanitizer.bypassSecurityTrustUrl(image11)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row padding-top>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('12')">
            <p padding class="text-no-images" [hidden]="image12">AVARIA 1</p>
            <ion-row>
              <button [hidden]="image12" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image12"
              [src]="domSanitizer.bypassSecurityTrustUrl(image12)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('13')">
            <p padding class="text-no-images" [hidden]="image13">AVARIA 2</p>
            <ion-row>
              <button [hidden]="image13" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image13"
              [src]="domSanitizer.bypassSecurityTrustUrl(image13)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('14')">
            <p padding class="text-no-images" [hidden]="image14">AVARIA 3</p>
            <ion-row>
              <button [hidden]="image14" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image14"
              [src]="domSanitizer.bypassSecurityTrustUrl(image14)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('15')">
            <p padding class="text-no-images" [hidden]="image15">AVARIA 4</p>
            <ion-row>
              <button [hidden]="image15" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image15"
              [src]="domSanitizer.bypassSecurityTrustUrl(image15)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('16')">
            <p padding class="text-no-images" [hidden]="image16">AVARIA 5</p>
            <ion-row>
              <button [hidden]="image16" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image16"
              [src]="domSanitizer.bypassSecurityTrustUrl(image16)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row padding-top>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('17')">
            <p padding class="text-no-images" [hidden]="image17">ADICIONAL 1</p>
            <ion-row>
              <button [hidden]="image17" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image17"
              [src]="domSanitizer.bypassSecurityTrustUrl(image17)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('18')">
            <p padding class="text-no-images" [hidden]="image18">ADICIONAL 2</p>
            <ion-row>
              <button [hidden]="image18" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image18"
              [src]="domSanitizer.bypassSecurityTrustUrl(image18)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('19')">
            <p padding class="text-no-images" [hidden]="image19">ADICIONAL 3</p>
            <ion-row>
              <button [hidden]="image19" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image19"
              [src]="domSanitizer.bypassSecurityTrustUrl(image19)" />
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('20')">
            <p padding class="text-no-images" [hidden]="image20">ADICIONAL 4</p>
            <ion-row>
              <button [hidden]="image20" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image20"
              [src]="domSanitizer.bypassSecurityTrustUrl(image20)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('21')">
            <p padding class="text-no-images" [hidden]="image21">ADICIONAL 5</p>
            <ion-row>
              <button [hidden]="image21" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image21"
              [src]="domSanitizer.bypassSecurityTrustUrl(image21)" />
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <button ion-button block large color="light" (click)="back();">Voltar</button>
          <button ion-button block large (click)="navigate();">Próximo</button>
      </ion-row>
    </div>

    <div *ngSwitchCase="'end'">

      <ion-row>
        <button ion-button color="light" block large (click)="back();">Voltar</button>
      </ion-row>

      <ion-row>
        <button ion-button block large>Finalizar</button>
      </ion-row>

    </div>

  </div>
</ion-content>
