.segment-md .segment-button {
  text-transform: none;
}

.background-no-images {
  height: 135px;
  background-color: #d3d3d3;
}

.text-no-images {
  text-align: center;
}

.size-images {
  background-size: 150px 150px;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  background-position: center;
}
