<ion-header>

  <ion-navbar>
    <ion-title>Nova vistoria</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div [ngSwitch]="inspect">

    <div *ngSwitchCase="'vehicle'">
      <ion-item no-padding>
        <ion-label stacked>Cliente</ion-label>
        <ion-select [(ngModel)]="inspectData.customer">
          <ion-option *ngFor="let customer of customers" [value]="customer.nome">{{customer.nome}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Leilão</ion-label>
            <ion-select [(ngModel)]="inspectData.auction">
              <ion-option *ngFor="let auction of auctions" [value]="auction.nome">{{auction.nome}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. lote</ion-label>
            <ion-input [(ngModel)]="inspectData.lotnumber" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Tipo vistoria</ion-label>
            <ion-select [(ngModel)]="inspectData.surveyType">
              <ion-option value="Aprovado">Aprovado</ion-option>
              <ion-option value="Aprovado com restrição">Aprovado com restrição</ion-option>
              <ion-option value="Reprovado">Reprovado</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Categoria veiculo</ion-label>
            <ion-select [(ngModel)]="inspectData.vehiclecategory">
              <ion-option *ngFor="let category of vehicleCategories" [value]="category.nome">{{category.nome}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Tipo serviço / tipo veículo</ion-label>
          <ion-select [(ngModel)]="inspectData.vehiclecategory">
            <ion-option value="Automovel">Automovel</ion-option>
            <ion-option value="Caminhão">Caminhão</ion-option>
            <ion-option value="Motocicleta">Motocicleta</ion-option>
            <ion-option value="Ciclomoto">Ciclomoto</ion-option>
            <ion-option value="Motoneta">Motoneta</ion-option>
            <ion-option value="Camioneta">Camioneta</ion-option>
            <ion-option value="Utilitario">Utilitario</ion-option>
            <ion-option value="Micro ônibus">Micro ônibus</ion-option>
            <ion-option value="Triciclo">Triciclo</ion-option>
            <ion-option value="Caminhão trator">Caminhão trator</ion-option>
            <ion-option value="Sucata não idêntificada">Sucata não idêntificada</ion-option>
            <ion-option value="Inexistente">Inexistente</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Condição da placa</ion-label>
            <ion-select [(ngModel)]="inspectData.boardcondition">
              <ion-option *ngFor="let condition of boardCondition" [value]="condition.nome">{{condition.nome}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Placa</ion-label>
            <ion-input [(ngModel)]="inspectData.board" type="text" pattern="/[a-z]{3}-?\d{4}/"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>UF Placa</ion-label>
            <ion-select [(ngModel)]="inspectData.ufboard">
              <ion-option *ngFor="let state of getKeys(states)" [value]="state">{{state}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Cidade placa</ion-label>
            <ion-input [(ngModel)]="inspectData.cityboard" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. motor</ion-label>
            <ion-input [(ngModel)]="inspectData.motornumber" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. motor BIN</ion-label>
            <ion-input [(ngModel)]="inspectData.motornumberbin" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Condição do motor</ion-label>
          <ion-select [(ngModel)]="inspectData.motorcondition">
            <ion-option *ngFor="let engineer of engineers" [value]="engineer.nome">{{engineer.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. chassi</ion-label>
            <ion-input [(ngModel)]="inspectData.chassinumber" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. chassi BIN</ion-label>
            <ion-input [(ngModel)]="inspectData.chassinumberbin" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Condição do chassi</ion-label>
          <ion-select [(ngModel)]="inspectData.chassicondition">
            <ion-option *ngFor="let chassi of chassis" [value]="chassi.nome">{{chassi.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. câmbio</ion-label>
            <ion-input [(ngModel)]="inspectData.exchangenumber" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. câmbio BIN</ion-label>
            <ion-input [(ngModel)]="inspectData.exchangenumberbin" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-item no-padding>
            <ion-label stacked>Condição do câmbio</ion-label>
            <ion-select [(ngModel)]="inspectData.exchangenumbercondition">
              <ion-option *ngFor="let exchange of exchanges" [value]="exchange.nome">{{exchange.nome}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Nr. Renavam</ion-label>
            <ion-input [(ngModel)]="inspectData.renavamnumber" type="number" pattern="[0-9]*"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row radio-group [(ngModel)]="inspectData.kitgnv">
        <ion-col>
          <ion-item no-padding>
            <ion-label>Kit GNV</ion-label>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Sim</ion-label>
            <ion-radio value="true"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Não</ion-label>
            <ion-radio value="false"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Marca veículo</ion-label>
          <ion-input [(ngModel)]="inspectData.vehiclebrand" type="text"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Modelo veículo</ion-label>
          <ion-input [(ngModel)]="inspectData.vehiclemodel" type="text"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Ano modelo</ion-label>
            <ion-input [(ngModel)]="inspectData.yearmodel" type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item no-padding>
            <ion-label stacked>Ano fabricação</ion-label>
            <ion-input max-lenght="4" [(ngModel)]="inspectData.yearfabrication" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Cor</ion-label>
          <ion-select [(ngModel)]="inspectData.color">
            <ion-option *ngFor="let color of colors" [value]="color.nome">{{color.nome}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item no-padding>
          <ion-label stacked>Combustivel</ion-label>
          <ion-select [(ngModel)]="inspectData.fluel">
            <ion-option *ngFor="let fuel of fuels" [value]="fuel.nome">{{fuel.nome}} </ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-textarea  [(ngModel)]="inspectData.observation" placeholder="Observações"></ion-textarea>
      </ion-row>
      <ion-row padding-top>
        <button ion-button block large (click)="navigate();">Próximo</button>
      </ion-row>
    </div>

    <div *ngSwitchCase="'caveat'">

      <label class="text-center">Ressalvas</label>
      <hr>

      <ion-list padding-top>

        <ion-item no-padding *ngFor="let item of caveat;">
          <ion-label stacked>{{ item.nome }}</ion-label>
          <ion-checkbox (ionChange)="changeCheckboxStatus(item, $event)"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-row>
        <button ion-button block large color="light" (click)="back();">Voltar</button>
        <button ion-button block large (click)="navigate();">Próximo</button>
      </ion-row>
    </div>

    <div *ngSwitchCase="'conditions'">

      <label class="text-center">Condições</label>
      <hr>

      <ion-list padding-top>

        <ion-item no-padding *ngFor="let item of conditions;">
          <ion-label stacked>{{ item.nome }}</ion-label>
          <ion-checkbox (ionChange)="changeCheckboxStatus(item, $event)"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-row>
        <button ion-button block large color="light" (click)="back();">Voltar</button>
        <button ion-button block large (click)="navigate();">Próximo</button>
      </ion-row>
    </div>

    <div *ngSwitchCase="'equipment'">

      <label class="text-center">Equipamentos</label>
      <hr>

      <ion-list padding-top>

        <ion-item no-padding *ngFor="let item of equipment;">
          <ion-label stacked>{{ item.nome }}</ion-label>
          <ion-checkbox (ionChange)="changeCheckboxStatus(item, $event)"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-row>
        <button ion-button block large color="light" (click)="back();">Voltar</button>
        <button ion-button block large (click)="navigate();">Próximo</button>
      </ion-row>
    </div>

    <div *ngSwitchCase="'pictures'" no-padding>
      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('01')">
            <p padding class="text-no-images" [hidden]="image1">DIANTEIRA DIAGONAL DIREITA</p>
            <ion-row>
              <button [hidden]="image1" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image1"
              [src]="domSanitizer.bypassSecurityTrustUrl(image1)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('02')">
            <p padding class="text-no-images" [hidden]="image2">TRASEIRA DIAGONAL ESQUERDA</p>
            <ion-row>
              <button [hidden]="image2" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image2"
              [src]="domSanitizer.bypassSecurityTrustUrl(image2)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('03')">
            <p padding class="text-no-images" [hidden]="image3">AUTO APREENSÃO</p>
            <ion-row>
              <button [hidden]="image3" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image3"
              [src]="domSanitizer.bypassSecurityTrustUrl(image3)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('04')">
            <p padding class="text-no-images" [hidden]="image4">PAINEL QUILOMETRAGEM</p>
            <ion-row>
              <button [hidden]="image4" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image4"
              [src]="domSanitizer.bypassSecurityTrustUrl(image4)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('05')">
            <p padding class="text-no-images" [hidden]="image5">CLRV</p>
            <ion-row>
              <button [hidden]="image5" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image5"
              [src]="domSanitizer.bypassSecurityTrustUrl(image5)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('06')">
            <p padding class="text-no-images" [hidden]="image6">COMP MOTOR</p>
            <ion-row>
              <button [hidden]="image6" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image6"
              [src]="domSanitizer.bypassSecurityTrustUrl(image6)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('07')">
            <p padding class="text-no-images" [hidden]="image7">CHASSI</p>
            <ion-row>
              <button [hidden]="image7" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image7"
              [src]="domSanitizer.bypassSecurityTrustUrl(image7)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('08')">
            <p padding class="text-no-images" [hidden]="image8">MOTOR</p>
            <ion-row>
              <button [hidden]="image8" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image8"
              [src]="domSanitizer.bypassSecurityTrustUrl(image8)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('09')">
            <p padding class="text-no-images" [hidden]="image9">PLACA</p>
            <ion-row>
              <button [hidden]="image9" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image9"
              [src]="domSanitizer.bypassSecurityTrustUrl(image9)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('10')">
            <p padding class="text-no-images" [hidden]="image10">APARELHO DE SOM</p>
            <ion-row>
              <button [hidden]="image10" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image10"
              [src]="domSanitizer.bypassSecurityTrustUrl(image10)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('11')">
            <p padding class="text-no-images" [hidden]="image11">PORTA MALAS</p>
            <ion-row>
              <button [hidden]="image11" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image11"
              [src]="domSanitizer.bypassSecurityTrustUrl(image11)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row padding-top>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('12')">
            <p padding class="text-no-images" [hidden]="image12">AVARIA 1</p>
            <ion-row>
              <button [hidden]="image12" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image12"
              [src]="domSanitizer.bypassSecurityTrustUrl(image12)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('13')">
            <p padding class="text-no-images" [hidden]="image13">AVARIA 2</p>
            <ion-row>
              <button [hidden]="image13" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image13"
              [src]="domSanitizer.bypassSecurityTrustUrl(image13)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('14')">
            <p padding class="text-no-images" [hidden]="image14">AVARIA 3</p>
            <ion-row>
              <button [hidden]="image14" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image14"
              [src]="domSanitizer.bypassSecurityTrustUrl(image14)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('15')">
            <p padding class="text-no-images" [hidden]="image15">AVARIA 4</p>
            <ion-row>
              <button [hidden]="image15" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image15"
              [src]="domSanitizer.bypassSecurityTrustUrl(image15)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('16')">
            <p padding class="text-no-images" [hidden]="image16">AVARIA 5</p>
            <ion-row>
              <button [hidden]="image16" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image16"
              [src]="domSanitizer.bypassSecurityTrustUrl(image16)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <hr>

      <ion-row padding-top>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('17')">
            <p padding class="text-no-images" [hidden]="image17">ADICIONAL 1</p>
            <ion-row>
              <button [hidden]="image17" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image17"
              [src]="domSanitizer.bypassSecurityTrustUrl(image17)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('18')">
            <p padding class="text-no-images" [hidden]="image18">ADICIONAL 2</p>
            <ion-row>
              <button [hidden]="image18" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image18"
              [src]="domSanitizer.bypassSecurityTrustUrl(image18)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('19')">
            <p padding class="text-no-images" [hidden]="image19">ADICIONAL 3</p>
            <ion-row>
              <button [hidden]="image19" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image19"
              [src]="domSanitizer.bypassSecurityTrustUrl(image19)" class="size-images"/>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('20')">
            <p padding class="text-no-images" [hidden]="image20">ADICIONAL 4</p>
            <ion-row>
              <button [hidden]="image20" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image20"
              [src]="domSanitizer.bypassSecurityTrustUrl(image20)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row padding-bottom>
        <ion-col>
          <ion-card class="background-no-images" (click)="takePicture('21')">
            <p padding class="text-no-images" [hidden]="image21">ADICIONAL 5</p>
            <ion-row>
              <button [hidden]="image21" ion-button clear item-end>
                TIRAR FOTO
                <ion-icon padding-left name="camera"></ion-icon>
              </button>
            </ion-row>
            <img *ngIf="image21"
              [src]="domSanitizer.bypassSecurityTrustUrl(image21)" class="size-images"/>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
          <button ion-button block large color="light" (click)="back();">Voltar</button>
          <button ion-button block large (click)="navigate();">Próximo</button>
      </ion-row>
    </div>

    <div *ngSwitchCase="'end'">

      <ion-row>
        <button ion-button color="light" block large (click)="back();">Voltar</button>
      </ion-row>

      <ion-row>
        <button ion-button block large (click)="save();">Finalizar</button>
      </ion-row>

    </div>

  </div>
</ion-content>
