<ion-header>

  <ion-navbar>
    <ion-title>Agendamentos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-card padding-bottom>
    <div class="input-container">
      <ion-item>
        <ion-label color="primary" stacked>Placa</ion-label>
        <ion-input padding-right [disabled]="chassi !== ''" type="text" placeholder="JXS-0701" [(ngModel)]="board" name="board">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Chassi</ion-label>
        <ion-input [disabled]="board !== ''" type="text" placeholder="9BWZZZ377VT004251" [(ngModel)]="chassi" name="chassi"></ion-input>
      </ion-item>

    </div>

    <ion-row radio-group [(ngModel)]="status" no-padding>
      <ion-item>
        <ion-label>STATUS:</ion-label>
      </ion-item>
      <ion-col>
        <ion-item>
          <ion-label>Aberto</ion-label>
          <ion-radio [disabled]="board !== '' || chassi !== ''" value="true"></ion-radio>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label>Fechado</ion-label>
          <ion-radio [disabled]="board !== '' || chassi !== ''" value="false"></ion-radio>
        </ion-item>
      </ion-col>
    </ion-row>

    <div padding>
      <button
        ion-button
        block
        large
        color="secondary"
        (click)="filter();">
        Filtrar
      </button>
    </div>

  </ion-card>

  <ion-card padding-top *ngIf="board && schedulesBoard | async as board">

    <label class="text-center">Agendamento</label>

    <ion-item padding-top>
      <label>Placa: <strong>{{board.placa}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Modelo do veículo: <strong>{{board.modelo_veiculo}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Renavam: <strong>{{board.renavam}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Status: <strong>{{getStatus(board.vistoria_feita)}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Marca: <strong>{{board.marca_veiculo}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Modelo: <strong>{{board.modelo_veiculo}}</strong></label>
    </ion-item>
  </ion-card>

  <ion-card padding-top *ngIf="chassi && schedulesChassi | async as chassi$">

    <label class="text-center">Agendamento</label>

    <ion-item padding-top>
      <label>Chassi: <strong>{{chassi$.chassi}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Modelo do veículo: <strong>{{chassi$.modelo_veiculo}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Status: <strong>{{getStatus(chassi$.vistoria_feita)}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Marca: <strong>{{chassi$.marca_veiculo}}</strong></label>
    </ion-item>
    <ion-item>
      <label>Modelo: <strong>{{chassi$.modelo_veiculo}}</strong></label>
    </ion-item>
  </ion-card>

  <ion-card padding-top *ngIf="!board && !chassi && statusModel && schedulesByStatusOpen | async as scheduleOpen">

    <label class="text-center">Quantidade de agendamentos</label>

    <ion-item padding-top>
      <label>Abertos: <strong>{{scheduleOpen.length}}</strong></label>
    </ion-item>
  </ion-card>

  <ion-card padding-top *ngIf="!board && !chassi && !statusModel && schedulesByStatusClosed | async as scheduleClosed">

    <label class="text-center">Quantidade de agendamentos</label>

    <ion-item>
      <label>Fechados: <strong>{{scheduleClosed.length}}</strong></label>
    </ion-item>
  </ion-card>

</ion-content>
